# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg

# Entorno / IDE
venv/
.env
.vscode/
.idea/

# Django
db.sqlite3
media/
staticfiles/
static_root/
*.log

# OS
.DS_Store
Thumbs.db

# Testing
.coverage