{% load static %}
<link href="{% static 'autenticacion/css/recuperar.css' %}" rel="stylesheet" />
<link href="{% static 'application/css/styles.css' %}" rel="stylesheet" />


{% block content %}

<body style="background-color: blue;">
  <div class="card">
    <div class="card-body">
      <h3>Restablecer contraseña</h3>

      {% if messages %}
      {% for message in messages %}
      <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}

      <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="email" value="{{ email }}">

        <div class="mb-3">
          <label for="temp_password" class="form-label">Contraseña temporal:</label>
          <input type="password" name="temp_password" id="temp_password" class="form-control" required
            placeholder="Ingresa la contraseña temporal">
        </div>

        <div class="mb-3">
          <label for="new_password" class="form-label">Nueva contraseña:</label>
          <input type="password" name="new_password" id="new_password" class="form-control" required
            placeholder="Ingresa la nueva contraseña">
        </div>

        <div class="mb-3">
          <label for="confirm_password" class="form-label">Confirmar nueva contraseña:</label>
          <input type="password" name="confirm_password" id="confirm_password" class="form-control" required
            placeholder="Confirma la nueva contraseña">
        </div>

        <button type="submit" class="btn btn-primary w-100">Actualizar contraseña</button>
      </form>

    </div>
  </div>
</body>
{% endblock %}