<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Solicitud de restablecimiento de contraseña</title>
</head>
<body>
  <h2>Solicitud de restablecimiento de contraseña</h2>
  <p>Para restablecer tu contraseña, haz clic en el siguiente enlace:</p>

  <p>
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
      Restablecer contraseña
    </a>
  </p>

  <p>Si no solicitaste este cambio, puedes ignorar este correo electrónico.</p>
  <p>Tu nombre de usuario es <strong>{{ user.get_username }}</strong></p>
</body>
</html>
