{% load static %}

<link href="{% static 'autenticacion/css/recuperar.css' %}" rel="stylesheet" />
<link href="{% static 'application/css/styles.css' %}" rel="stylesheet" />





<body style="background-color: blue;">
  <div class="card">
    <div class="card-body">
      <h3 class="text-center mb-4">RECUPERAR CONTRASEÑA</h3>



      <form method="POST">

        {% csrf_token %}
       

        <div class="mb-3">
          <label for="email" class="form-label">Correo electrónico:</label> {{email.form}}
          <input type="email" name="email" id="email" class="form-control" required placeholder="Ingresa tu correo">
        </div>
        <button type="submit" class="btn btn-primary w-100">Verificar</button>
      </form>

     
     


      <div class="text-center mt-3">
        <a href="{% url 'login' %}">Volver al inicio de sesión</a>
      </div>
    </div>
  </div>
 
</body>
 <script>
    setTimeout(() => {
      const alerts = document.querySelectorAll('.alert');
      alerts.forEach(alert => {
        const bsAlert = new bootstrap.Alert(alert);
        bsAlert.close();
      });
    }, 3500);
  </script>
</html>