{% extends 'application/base.html' %}

{% load static %}

{% block contenido %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Gestión de roles</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Roles</li>
            </ol>

            <div class="row">
                {% if mensaje is not None %}
                <div class="col-md-12">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ mensaje }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="row mb-3">
                <div class="col-md-9">
                </div>
                <div class="col-md-3">
                    <div class="d-grid">
                        <a href="{% url 'add-rol' %}" class="btn btn-primary">Agregar rol</a>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Listado de roles
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Nombre</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rol in roles %}
                            <tr>
                                <td>{{ rol.id }}</td>
                                <td>{{ rol.name }}</td>
                                <td>
                                    <a href="{% url 'edit-rol' rol.id %}" class="btn btn-warning btn-sm"><i
                                            class="bi bi-pencil-square"></i></a>
                                    <a href="{% url 'delete-rol' rol.id %}" class="btn btn-danger btn-sm"><i
                                            class="bi bi-trash-fill"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2023</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>
{% endblock %}